body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#buttons-player-selection-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 5px 13px;
    width: 90px;
}

#game-results-container{
    border: 1px solid purple;
    width: 200px;
    height: 250px;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

p {
    text-align: center;
    margin: 2px;
    padding: 5px;
    border: 1px solid black;

}